/* ---------------------------- Notification Messages ---------------------------- */

#NotificationMessageControl
{
    font-family: Arial;
    font-size: 1em;
    font-weight: bolder;
    color:#ffffff;
    text-align: left;
    border:1px solid transparent;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    z-index: 110000;
    width:96%;
    height:28px;
    bottom:4%;
    display: none; 
    left:25px;
    position: fixed;
    border-radius: 2px;
}
    #NotificationMessageControl #Notification-Container
    {
        margin-right:10px;
        margin-top:-3px;
        overflow: hidden;

    }

    #NotificationMessageControl #NotificationMessage
    {
        float:left;
        width:98%;
        line-height:12px;        
        height:28px;
    }

    #NotificationMessageControl #CloseButton
    {
        float:right;
        width:2%;
    }


.SaveMessage
{
    background-color: #2e6d30;
    border:1px solid #A5C27E;
}

.ErrorMessage
{
    background-color: #323232;
    border:1px solid #A5C27E;
}

#NotificationMessageControl a.close {
    background: url("../../Images/icon-deletewhite.png") no-repeat scroll center center transparent;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    text-align: center;
    height: 11px;
    width:11px;
    outline: none;
    /*margin: 5px 10px 5px 5px;*/
}
